.login-screen
{
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/WelcomeScreen.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-logo
{
  position: absolute;
  top: 2vh;
  left: 2vw;
}
.login-screen-cont
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cont-login
{
  background-color: rgba(0,0,0,0.8);
  padding: 2vw;
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
}
.login-title
{
  margin: 2.5vh 0;
}
@media screen and (max-width: 900px) {
  .main-cont-login 
  {
    width: 80%;
  }
}
