
.normal-button
{
  border-radius:10px;
  justify-content:center;
  align-items:center;
  display:flex;
  font-weight:bold;
}
.purple-button
{
  border-radius:10px;
  justify-content:center;
  align-items:center;
  display:flex;
  font-weight:bold;
  padding:1.5vh 2vw;
}
.fav-butt
{
  border-radius:10px;
  justify-content:center;
  align-items:center;
  display:flex;
  font-weight:bold;
  padding:1.5vh 1vw;
}

@media screen and (max-width: 900px) {
  .fav-butt
  {
    padding:1.5vh 4vw;
  }

  .fav-butt > img
  {
    width: 4vw !important;
    height: 4vw !important;
  }
}
